body{
    color: white;
    font-family: "Poppins";
    text-align: center;

}
.area input{
    border-radius: 30px;
    border: 0px;
    width: 350px;
    height: 50px;
    margin-right: 10px;
}
.area button{
    cursor: pointer;
    
    background-color: white; 
    border: 0px;
    border-radius: 50%;
    height: 50px;
    color: rgb(255, 200, 0) ;
    font-size: 30px;
    padding-top:6px;
}
/* .area button i{
    margin-top: 4px;

} */
.area{
    display: flex;
    align-items: center;
    justify-content: center;
}
.area button:hover{
    color: white;
    background-color:rgb(255, 200, 0) ;
}

select{
    appearance: none;
    border: 0px;
    /* border: 1px solid red; */
    outline: none;
    background-color: transparent;
    color: rgb(255, 200, 0);
    width: 120px;
    /* padding-right: 30px; */
}

.div1{
    padding-left: 10px;
    

    display: flex;
    border-radius: 30px;

    width:120px;
    height: 45px;
    background-color: white;
    

}

.div1 select option{
  
margin-right: 100px;
} 